<!-- <app-header />
<div class="actions">
  <button (click)="onClickAddUser()">Add User</button>
  <button (click)="onClickAddUser()">Contact Us</button>
</div>
<main>

  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" [isSelected]="user.id === selectedUser?.id" (userSelected)="onUserSelected($event)" />
    </li>
    }
  </ul>

  @if (selectedUser) {
  <app-tasks [userName]="selectedUser.name" [userId]="selectedUser.id"></app-tasks>
  } @else {
  <p>Please select a user to view their tasks.</p>
  }
</main>

@if (shouldShowAddUserForm) {
<app-new-user (newUser)="addUser($event)"></app-new-user>
} -->


 <!-- <app-shopping-page></app-shopping-page> -->


 <!--<app-game-container></app-game-container> -->

 <!-- <app-students-container></app-students-container> -->

 <!-- <app-users-fetch></app-users-fetch> -->

 <!-- <app-timer-container></app-timer-container> -->

 <app-observable-component></app-observable-component>
